* {
  box-sizing: border-box;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: rgba(192, 192, 192, 0.1);
}

img {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; /* Ensures no bullet points */
}

/* Aside Styles */
aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  border-right: 1px solid #00ADEE; /* Blue border on the right edge */
  background-color: white;
  z-index: 1000; /* Ensures the aside is on top of other content */
}

/* Centering the image in the aside */
aside img {
  width: 120px;
  margin: 10px auto;
}

/* Navigation Styles */
nav ul {
  padding: 0;
  margin: 0;
  width: 200px; /* Ensures that the border lines extend across the entire sidebar */
}

nav li {
  
  border-bottom: 1px solid #00ADEE; /* Blue border for each li */
}

nav a {
  font-weight: bold;
  color: #00ADEE;
  text-decoration: none;
  padding: 15px 0; /* Adjust this padding if more space is needed */
  display: block;
}

nav li:first-child a {
  text-decoration: underline; /* Underline for the first link only */
}

/* Main Content Styles */
main {
  margin-left: 200px; /* Pushes main content to the right, giving space for the aside */
  padding: 20px;
}

/* Header Image Styles */
main > header > img {
  height: 100px;
  width: auto;
  margin-bottom: 20px;
}

/* Section Styles */
section {
  display: flex; /* Aligns divs on the same line */
  flex-wrap: nowrap; /* Prevents wrapping of divs */
}

section div {
  flex-grow: 1; /* Each div takes up equal space */
  padding: 10px;
  margin-top: 20px; /* Adds space above divs */
  border-left: 2px solid transparent;
}

/* Adding green borders between section divs, except the first */
section div:not(:first-child) {
  border-left: 2px solid #8CC36F; /* Green border */
}

/* Section Header Styles */
section h2 {
  color: #8CC36F; /* Green color for h2 */
}

section h2 i {
  margin-right: 5px; /* Space between the icon and text */
}
