body {
  margin: 20px;
  padding: 0;
}

header {
  display: flex; /* Makes the header a flex container */
  align-items: center; /* Centers the items vertically */
  justify-content: flex-start; /* Aligns items to the start (left side) */
  background-color: #F0F0F0;
  padding: 20px;
}

.logo {
  width: 140px; /* Adjust size as needed */
  /* Ensures the logo is displayed inline or as a block for proper sizing */
}

nav {
  margin-left: 20px; /* Adds space between the logo and nav */
  /* Additional specific styling for nav can be added here */
}

ul {
  display: flex; /* Aligns the list items horizontally */
  list-style-type: none; /* Removes bullet points */
  padding: 0;
  margin: 0;
}

li {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #707070;
  margin-left: 20px; /* Spaces out the list items */
}

a, a:visited {
  color: #707070;
  text-decoration: none;
}

a:hover {
  color: #00AFEF;
  text-decoration: underline;
}
