body {
  margin: 20px;
  padding: 0;
}

header {
  display: flex; /* Continues to use flexbox for layout */
  align-items: center; /* Vertically aligns the flex items */
  justify-content: space-between; /* Aligns items to each side of the container */
  background-color: #F0F0F0;
  padding: 20px;
}

.logo {
  width: 140px;
  /* No change needed here */
}

ul {
  display: flex; /* Ensures the list items are in a flex row */
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #707070;
  padding: 0 20px; /* Adjusted to give padding on both sides */
  /* Removed margin-left to utilize padding for spacing */
}

a, a:visited {
  color: #707070;
  text-decoration: none;
}

a:hover {
  color: #00AFEF;
  text-decoration: underline;
}
