body {
  margin: 20px;
  padding: 0;
  font-size: 2.5em; /* Consider adjusting this font size if it makes the content too large */
}

.container {
  display: flex; /* Establishes the container as a flex container */
  flex-direction: row; /* Ensures the flex items are laid out in a row */
  align-items: flex-start; /* Aligns the flex items at the start of the container (top) */
  justify-content: center; /* Centers the flex items horizontally */
  background-color: #F0F0F0;
  height: 500px; /* Sets the height of the container to 500px */
}

.box {
  padding: 40px 55px; /* Adjust padding as needed for visual appearance */
  background-color: #00AFEF;
  color: #fff;
  border: solid 1px #777;
  margin: 0 10px; /* Adds horizontal space between boxes */
}
