body {
  margin: 20px;
  padding: 0;
  font-size: 16px; /* Adjusted for readability */
}

.container {
  display: flex; /* Makes the container a flex container */
  justify-content: space-around; /* Distributes space evenly around items */
  align-items: center; /* Centers items vertically */
}

.box {
  padding: 20px; /* Adjust padding as needed for visual appearance */
  margin: 0 10px; /* Adjusts margin for additional spacing if needed */
  /* Additional styling for box */
  background-color: #00AFEF; /* Example background color */
  color: #fff; /* Text color */
  border: solid 1px #777; /* Example border */
}
