body {
  height: 100vh;
  margin: 0;
  font-family: 'Brush Script MT', cursive;
}

#app {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "info"
    "main"
    "footer";
  height: 100%;
}

#left {
  margin-right: 100px;
  
}

#right {
  
  align-self: flex-end;
}

#before {
  grid-area: info;
  background-color: pink;
  display: grid;
  grid-template-areas: 
    "h1 search"
    "lorem lorem"; 
}

main {
  overflow: auto;
  grid-area: main;
  background-color: pink;
}

#product-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  gap: 10px;
}

.product-card {
  display: grid;
  padding: 10px;
  border-style: double; 
  border-color: blueviolet;
  background-color: pink;
  border-width: 5px;
  border-radius: 5px;
  margin: 10px 15px 10px 65px; 
  grid-template-areas: 
    "sku price"
    "product-name product-name"
    "product-image product-image";
}

.sku {
  grid-area: sku; 
}

.price {
  grid-area: price;
}

.product-name, .action { 
  grid-area: product-name;
}

.product-image {
  grid-area: product-image;
}

h1 {
  grid-area: h1;
}

input {
  grid-area: search;
}

p {
  grid-area: lorem;
}

header {
  grid-area: header;
}

nav {
  display: flex;
  grid-area: nav;
  justify-content: space-between;
  background-color: pink;
  border-style: solid;
  border-color: blueviolet;
}

footer {
  grid-area: footer;
  border-style: solid;
  border-color: blueviolet;
  background-color: pink;
}
