
header {
  text-align: center;
  background-color: none;
  padding: 5px;
  border-radius: 10px;
}

/* Ensure the logo image within the header is responsive */
header img {
  max-width: 80%; 
  max-height: 20%;
  height: auto;
}

/* Style the navigation bar */
nav {
  background-color: transparent;
  top: fixed;
  width: 100%;
  font-size: 30px;
  font-family: cursive;
  position: fixed;
  z-index: auto;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  margin: 20px;
}

nav ul li.logout {
  margin-left: auto;
}

nav ul li a {
  text-decoration: none;
  color: rgb(163, 117, 32);
}

/* Style the footer */
footer {
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  font-family: cursive;
  font-size: 30px;
  color: rgb(82, 32, 163);
  bottom: 0;
  background-color: rgb(12, 125, 10);
}

/* Style the main content area */
main {
  max-height: height;
  overflow: auto;
  padding: 20px;
}

/* Style the product cards section */
#product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: cursive;
  color: rgb(163, 117, 32);
}

/* Style individual product cards */
.product-card {
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
  width: auto;
  background-color: whitesmoke;
  box-shadow: 2px 2px 5px white;
  text-align: center;
}

/* Ensure product images are responsive */
.product-card img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
}

/* Style the product details (if applicable) */
.product-details {
  display: grid;
  grid-template-rows: 1fr 1fr auto;
  padding: 10px;
}

/* Style the cart section */
.cart {
  margin-top: 10px;
  text-align: end;
}

/* Style the search bar */
#search-bar {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .product-card {
    width: calc(50% - 20px);
  }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
  .product-card {
    width: 100%;
  }
}
