body {
  margin: 20px;
  padding: 0;
  font-size: 2.5em; /* This font size will make the content very large, adjust if necessary */
}

.container {
  display: flex; /* Establishes the container as a flex container */
  justify-content: center; /* Horizontally centers the flex items */
  align-items: center; /* Vertically centers the flex items */
  background-color: #F0F0F0;
  height: 500px; /* Keeps the container height as specified */
  flex-direction: row; /* Aligns the flex items in a row (this is the default value) */
}

.box {
  padding: 40px 55px; /* Adjust padding as needed for visual appearance */
  background-color: #00AFEF;
  color: #fff;
  border: solid 1px #777;
  margin: 0 10px; /* Adds horizontal space between boxes */
}
