body {
  margin: 20px;
  padding: 0;
}

header {
  display: flex; /* Makes the header a flex container */
  align-items: center; /* Centers items vertically */
  background-color: #F0F0F0;
  padding: 20px;
}

.logo {
  width: 140px;
}

ul {
  display: flex; /* Ensures the list items are displayed in a row */
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #707070;
  padding: 0 20px; /* Adjusted to apply padding on both sides for consistency */
}

a, a:visited {
  color: #707070;
  text-decoration: none;
}

a:hover {
  color: #00AFEF;
  text-decoration: underline;
}

.spacer {
  flex-grow: 1; /* Allows the spacer to take up all available space */
}

.my-account img {
  width: 40px; /* Adjust if necessary for your design */
}
